<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSE312 Website</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
  </head>
  <body>
  <div class="total">
    <div class="banner">
      <p class="title-text">IntraLeagues</p>
    </div>
    <div class="body-div">
      <div class="right-half">
        <form class="form-format">
          <label>Join a Team Here!</label>
          <button>Join Team</button>
        </form>
        <form class="form-format">
          <label>Create A Team Here!</label>
          <button>Create a Team</button>
        </form>
      </div>
      <div class="left-half">
        
      </div>
  </div>
</div>
	<script src="../static/functions.js"></script>
  </body>
</html>