<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSE312 Website</title>
    <link rel="stylesheet" href="../static/join.css">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
</head>
<body>
<div class="banner">
    <p class="title-text">IntraLeagues</p>
    <a href="/" class="back-button">Back</a>
</div>
<div class="body-div">
    {% if teams %}
        <p class="all-teams">All Teams:</p>
        {% for team in teams %}
            <form class="join-team-form" action="/join" method="POST">
                <label class="join-label">Name: {{team[0]}}</label>
                <label class="join-label">Sport: {{team[3]}}</label>
                <label class="join-label">Max Members: {{team[2]}}</label>
                <label class="join-label">Team Leader: {{team[1]}}</label>
                <input type="hidden" name="username" value={{username}}>
                <input type="hidden" name="id" value={{team[4]}}>
                <input type="hidden" name="max" value={{team[2]}}>
                <input type="hidden" name="teamName" value={{team[0]}}>
                <button class="join-button" type="submit">Join Team</button>
            </form>
        {% endfor %}
    {% else %}
        <p>No teams available.</p>
    {% endif %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<script src="../static/functions.js"></script>
</body>
</html>
